@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:darksalmon;">
    <h2>Welcome to iHealth</h2>
    <p class="lead">Where Care Comes First</p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Media/find_doctors.jpg" />
        <h2>Find Doctors</h2>
        <p>
            Get the best in health care with the help of our highly qualified doctors. Click the button below to get started.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Doctors")">Find Doctors &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Media/appointment.jpg" />
        <h2>Create Appointments</h2>
        <p>Setting up appointments has never been so easy. Its just a registration and few clicks away.</p>
        <p><a class="btn btn-default" href="@Url.Action("Login","Patients")">Book Now &raquo;</a></p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <img src="~/Media/patient.jpg" />
        <h2>Patient</h2>
        <p class="lead"><h5>Do you have a patient account ?</h5></p>
        <p><a class="btn btn-default" href="@Url.Action("Login","Patients")">Login &raquo;</a></p>
        <a href="/Patients/Create" class="fw-light">I haven't registered yet</a>
    </div>
    <div class="col-md-4">
        <img src="~/Media/doctors.jpg" />
        <h2 class="display-6 pb-1">Doctor</h2>
        <p class="lead"><h5>Login to manage your appointments</h5></p>
        <p><a class="btn btn-default" href="@Url.Action("Login","Doctors")">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Media/admin.jpg" />
        <h2 class="display-6 pb-1">Admin</h2>
        <p class="lead"><h5>Login to manage Patients and Doctors registrations.</h5></p>
        <p><a class="btn btn-default" href="@Url.Action("Login","Admins")">Login &raquo;</a></p>
    </div>
</div>